.container {
  padding: 0;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.img {
  max-width: 70%;
  border: 1px solid #dddddd;
}

@media (min-width: 700px) {
  .container {
    margin-left: -100px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: -180px;
  }
}
