.container {
  padding: 0;
  margin-top: 60px;
}

.img {
  max-width: 100%;
  border: 1px solid #dddddd;
  border-radius: 20px;
}

@media (min-width: 700px) {
  .container {
    margin-left: -100px;
  }
}

@media (min-width: 1024px) {
  .container {
    margin-left: -180px;
  }
}
