.paragraph {
  font-size: 16px;
  line-height: 170%;
  margin-bottom: 3vh;
}

@media (min-width: 700px) {
  .paragraph {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .paragraph {
    font-size: 18px;
    width: 80%;
  }
}
