.header {
  font-size: 10vmin;
  color: #ffffff;
  margin: 0;
}

.wrapper {
  transition: padding-left 0.4s;
  margin-left: 20px;
}

.wrapper:hover {
  padding-left: 40px;
}

.wrapper a {
  text-align: left;
}

@media (min-width: 500px) {
  .header {
    font-size: 14vmin;
  }

  .wrapper {
    margin-left: 50px;
  }
}

@media (min-width: 700px) {
  .wrapper {
    margin-left: 0;
  }
}
