.button {
  position: fixed;
  top: 8%;
  right: 5%;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  height: 20px;
  width: 62px;
  transition: right 0.5s;
}

.button:hover {
  right: 7%;
}
